Need to install the following packages:
gitignore@0.7.0
Ok to proceed? (y) Created .gitignore file for flag type Java,Node,Maven,IntelliJ,VisualStudioCode.
There is no gitignore for Java,Node,Maven,IntelliJ,VisualStudioCode
Available project types can be found by running `gitignore -types` or at https://github.com/github/gitignore
